article.mt-50.mb-85
    .grid-container
        .grid-x
            .medium-8.medium-offset-2.cell
                .user-editable-content
                    p
                        b Geneva is known for its love of the finer things in life and enjoys a picturesque location on the shores of Lake Geneva. To help you get the most out of your stay in this cosmopolitan city, we’ve put together a selection of our favourite places and things to do.
                    h3 Best for families
                    p
                        b Maison Cailler
                    p As well as scenic views and adventure activities, there’s one thing that Switzerland does particularly well: chocolate. Give your children a ‘Willy Wonka’ experience by taking them on an interactive tour of Maison Cailler chocolate factory. Make the trip even more memorable by creating your own chocolate works of art at the Atelier du Chocolat.
                    .owl-carousel(data-dots='true')
                        img(src=require('../../../images/cailler.jpg') alt)
                        img(src=require('../../../images/old-town.jpg') alt)
                        img(src=require('../../../images/air-balloon.jpg') alt)
                        img(src=require('../../../images/cailler.jpg') alt)
                        img(src=require('../../../images/old-town.jpg') alt)
                        img(src=require('../../../images/air-balloon.jpg') alt)
                    h3 Best for History
                    p
                        b Old Town
                    p Geneva’s Old Town is laden with historical sights, beautiful Art Nouveau architecture and myriad shopping and leisure opportunities. Stray from the bustling centre point, Place du Bourg-de-Four, to discover the intriguing art galleries, antiques shops and independent cafés that line the side streets.
                    img(src=require('../../../images/old-town.jpg') alt)
                    h3 Best for Adventure
                    p
                        b Hot air balloon trip
                    p While Lake Geneva is beautiful from the water, it’s even more striking from the air. A hot air balloon ride is a wonderful opportunity to see Geneva from a fresh perspective. One of the city’s premier ballooning companies, Balloon du Leman, offers scenic flights over the lake during the warmer months and over the mountains in the winter.
                    figure
                        img(src=require('../../../images/air-balloon.jpg') alt)
                        figcaption Picture credit @Genevatourism
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare, mauris non gravida blandit, dui erat dictum felis,
                    p Duis efficitur ipsum ac tempus semper. Mauris mattis finibus tempor. Cras nec porttitor nisl, sit amet varius ligula. In eros ante, convallis placerat est tincidunt, iaculis aliquet justo. Sed hendrerit luctus rutrum. Nulla nec ultricies massa. Etiam imperdiet porttitor felis eget pharetra. Nulla ex sapien, pulvinar ac molestie eleifend, fermentum non urna. Fusce volutpat nulla eu nunc aliquam, quis tristique neque pretium. Ut justo dolor, pharetra sed lacinia egestas, commodo eu lacus. Vivamus sit amet lobortis velit. Aenean eu dapibus mi. Pellentesque rutrum fringilla sapien, at tincidunt metus elementum in. Nulla auctor dui vitae metus dignissim, eget mattis mi rhoncus. Donec faucibus justo sed dapibus ornare.
                    ul
                        li Aliquam erat volutpat. Curabitur nec tellus a metus porta suscipit;
                        li Nunc auctor vel augue vel pellentesque. In luctus sagittis commodo. Integer ornare eu est et tempor. Cras mattis volutpat commodo;
                        li Praesent dictum consectetur tellus, eu semper erat scelerisque et. Vivamus sit amet lobortis velit. Aenean eu dapibus mi. Aliquam erat volutpat;
                        li Cras mattis volutpat commodo.
                    p Praesent dictum consectetur tellus, eu semper erat scelerisque et. Aliquam erat volutpat. Curabitur nec tellus a metus porta suscipit. Nunc auctor vel augue vel pellentesque. In luctus sagittis commodo. Integer ornare eu est et tempor. Cras mattis volutpat commodo.
                    blockquote Donec tristique dui in tortor ultricies consectetur. Ut feugiat ac mi vel blandit. Sed dictum semper nisi in auctor. Morbi rhoncus neque at tortor rhoncus pretium. Phasellus semper, nulla sed maximus mollis. Nulla ex sapien, pulvinar ac molestie eleifend, fermentum non urna.
                .mt-50.bt.pt-30
                    .flex-container.align-justify.align-middle.small-uppercase
                        .social
                            a(href='').icon-facebook
                            a(href='').icon-twitter
                            a(href='').icon-googleplus
                        .next-article
                            a(href='') Next article
                                 i.icon-arrow-left

